$windowWidth: 800px;
$defaultWindowHeight: 100px;
$expandedWindowHeight: 800px;

body {
  margin: 0;
}

#root {
  //width: 784px;
  //height: 84px;
  width: $windowWidth;
  height: $expandedWindowHeight;
}


.renderingArea {
  width: 100%;
  height: 100%;
  transform: scale(0.94);
  transform-origin: 50% 50%;
  overflow: hidden;

  .wrapper {
    width: 100%;
    background-color: #0092a5cf;
    border-radius: 6px;
  }

  .formContainer {
    padding: 8px;
    width: 784px;
    height: 84px;

    .queryForm {
      color: #f7f7f7;
      width: 100%;
      height: 100%;
      font-size: 40px;
      background: none;
      border: none;
      outline: none;
    }
  }

  .result {
    display: flex;

    .suggestContainer {
      padding: 8px;
      flex: 1;
      color: #f7f7f7;

      .suggestList {
        padding: 0;
        list-style-type: none;
      }
    }

    .contentsContainer {
      padding: 8px;
      flex: 1;
      color: #f7f7f7;
    }
  }


}
