:root {
  --color-text-normal: #2c363f;
  --color-text-sub-l1: #333333;
  --color-text-sub-l2: #666666;
  --color-bg-l0: #f0f0f0;
  --color-active: rgba(88, 153, 226, 0.5);
  --color-focus: rgba(88, 153, 226, 0.25);
  --color-border: #c8c8c8;

  --font-size-text-normal: 16px;
  --font-size-text-searchResultItem: 12px;

  --window-width-normal: 1000px;
  --window-height-normal: 600px;
}
